

section {
  border-radius: 20px;
  margin: 20px;
  padding: 1rem;
}

section.contact-form-area {
  background-color: #9DC08B;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 25px -12px rgba(66, 68, 90, 1);
}
