h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  margin: 0 10px 0 10px;
  gap: 10px;
}

.card {
  text-align: justify;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 8px 25px -12px rgba(66, 68, 90, 1);
  box-sizing: border-box;

  min-width: 230px;
}

.intro {
  margin-top: 30px;
  text-align: center;


}

.education {
  background-color: #9DC08B;
}

.skills {
  background-color: #609966;

  .skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-title {

  font-size: 50px !important;


}

.projects-thesis {
  background-color: #40513B;
  color: rgba(255, 255, 255, 0.6);
}

.projects-plant {
  background-color: #609966
}


.projects-bush {
  background-color: #9DC08B;

}
.hobbies {
  background-color: #40513B;
  color: rgba(255, 255, 255, 0.6);
}
