
<div class="container">
  <div class="row">
    <div class="col">
      Hi, I'm Kacper. I'm a recent graduate of Automation and Robotics and
      I plan to develop this page as an educational project and as a tool to better present all my projects.
      <br>
      <br>
      The page is still under construction.
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <video width="600" height="400" controls>
        <source src="./assets/Multimedia1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
      <img src="./assets/thesisScreanshot.png">

    </div>
  </div>

  <div class="row">
    <div class="col">
      This is my thesis project at work.

    </div>
  </div>


</div>




