<section class="intro">
  <div class="container">
    <div class="row mb-3">
      <div class="col col-lg-6 col-sm-12">
        <div class="portrait-container">
          <div class="portrait">

          </div>
          <h1 class="name">Kacper Mejsner</h1>
        </div>
      </div>
      <div class="col col-lg-6 col-sm-12">
        <p>
          Bachelor of Engineering in Automation and Robotics
          with specialization in Industry 4.0.
          Currently doing Master's degree in Applied Computer Science with Software Engineering specialization.
          <br>
        </p>
      </div>
    </div>
  </div>

</section>

<hr>

<section class="skills">
  <h2>Skills</h2>


  <div class="container">
    <div class="row mb-3">
      <div class="col-2 skill-name">
      <h1>C#</h1>
      </div>
      <div class="col-10">
        I had a brief introduction to coding in C# during my 6th semester. The course was titled ".Net and Java development platforms".
        We did a few mini-projects there, consisting of: usage of Web API's, Entity Framework and ASP.NET.
        It quickly became my favourite.
        The biggest thing I did with it was my thesis project - a game made with Unity Engine.
        Also used it during my internship where I was making a WPF app.
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2 skill-name">
        <h1>C</h1>
      </div>
      <div class="col-10">
        It was my first language to learn. The "Programming basics" course based on it.
        Then we moved to C++, to then move back to C to program microcontrollers.
        The most significant thing I did there was a wrapper for VL53L1X sensor.
        The library for this sensor was made for STM32 and I had to rewrite it's I2C communication.
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2 skill-name">
        <h1>C++</h1>
      </div>
      <div class="col-10">
        It was used on most courses.
        On the course of "Algorithm Design and AI" I implemented various data structures and sorting algorithms.
        The course ended with a bigger project - Tic-Tac-Toe game with AI based on MIN-MAX algorithm.
        I made it in C++ and SDL2.
        The next step was "Operating Systems" where we learned about multithreading, mutexes, semaphores and all this fun stuff.
        Later we were learning about discrete systems and implemented some scheduling algorithms like flow-shop and some more.
      </div>
    </div>
  </div>
</section>
<hr>
<section class="hobbies">
  <h2>Hobbies</h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
</section>





