.marker {
  background-color: white;
  visibility: hidden;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 5px;
}

.spacing-auto {
  margin-left: auto;
}

.chess {
  background-color: rgb(106, 106, 106);
}

.active-tab-marker {
  visibility: visible;
}

