
<nav class="navbar
            fixed-top
            navbar-expand-lg
            navbar-expand-md
            navbar-dark
            my-dark-theme
            bar-area">
  <!-- <a class="navbar-brand ms-2"><strong>Kacper Mejsner</strong></a> -->


  <button class="navbar-toggler me-2 ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">

    <div class="left-spacer"></div>
    <ul class="navbar-nav me-auto links">
      <app-nav-button link="/home" text="Home"></app-nav-button>
      <app-nav-button link="/projects" text="Projects"></app-nav-button>
      <app-nav-button link="/contact" text="Contact"></app-nav-button>
      <!-- <app-nav-button link="https://kacpermejs.github.io/ng-chess/" [isOutsideLink]="true" text="Chess"></app-nav-button> -->
    </ul>
    <div class="socials-area">
      <a class="btn-socials" href="https://github.com/kacpermejs">
        <img src="./assets/github-mark-white.png">
      </a>
    </div>


  </div>
</nav>
