<div class="menu-bar">
  <div class="logo-area">
    <div class="name">
      Kacper Mejsner
    </div>
    <div class="spacer-bar"></div>
  </div>
  <nav class="nav">
    <app-nav-button routerLinkString="/home" buttonText="Home"></app-nav-button>
    <app-nav-button routerLinkString="/projects" buttonText="Projects"></app-nav-button>
    <app-nav-button outsideLinkString="https://kacpermejs.github.io/ng-chess/" buttonText="Play my chess"></app-nav-button>
    <app-nav-button routerLinkString="/contact" buttonText="Contact" style="margin-right: 30px"></app-nav-button>
  </nav>
</div>


