<div class="container">
  <h1><b>My Projects</b></h1>
  <div class="row">
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
    <div class="col-md-4">
      <app-blog-post-thumbnail></app-blog-post-thumbnail>
    </div>
  </div>
</div>
