/* You can add global styles to this file, and also import other style files */
body {
  overflow-y: scroll;
}

hr {
  border-style: none;
  border-left-style: dotted;
  border-width: 10px;
  width: 0px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-font {
  font-family: monospace;
}
.my-dark-theme {
  background-color: rgb(32, 32, 32);
  color: white;
}
.my-light-theme {
  background-color: #EDF1D6;
  color: rgba(0, 0, 0, 0.559);
}

