/* You can add global styles to this file, and also import other style files */
body {
  overflow-y: scroll;
}
.my-font {
  font-family: monospace;
}
.my-dark-theme {
  background-color: rgb(32, 32, 32);
  color: white;
}
.my-light-theme {
  background-color: rgb(223, 223, 223);
  color: rgb(28, 28, 28);
}

.main-content-container {
  padding-top: 100px;
}

